#
# GLOBAL IGNORE
#
00-*

prova

*.zip

#
# GRADLE IGNORE
#
## By Gradle's gitignore
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle binary output directory
bin

#
# FRONTEND IGNORE
#
node_modules
