@using Shared.DTOs

<div class="top-row px-4">
    <div class="float-end">

        @if (UserEmail == null)
        {
            <a href="/pages/Login">Login</a>
        }
        else
        {
            @UserEmail
            <a href="/" onclick="() => UserEmail = null">Logout</a>
        }

    </div>
</div>

@code
{
    [Parameter]
    public string? UserEmail { get; set; }
}
