<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">SmartParking</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/swagger">
                <img src="swagger-favicon.png" alt="Swagger Logo" class="bi swagger-favicon" />
                Swagger
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pages/remote">
                <i class="bi bi-phone" ></i>
                Web Page
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pages/totem/entrance">
                <i class="bi bi-indent" ></i>
                Totem Entrance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pages/totem/exit">
                <i class="bi bi-unindent" ></i>
                Totem Exit
            </NavLink>
        </div>
    </nav>
</div>

