@page "/pages/remote"
@rendermode InteractiveWebAssembly

<PageTitle>@Title</PageTitle>

@if (!OperatingSystem.IsBrowser())
{
    <LoadingSpinner Name="@(Title + " WebAssembly")" />
    return;
}

<h3><strong>@Title</strong></h3>

@code {
    private readonly string Title = "Remote Web Page";

    protected override void OnInitialized()
    {
    }

    public void Dispose()
    {
    }
}
