@page "/pages/totem/entrance"
@rendermode InteractiveWebAssembly

@using Frontend.States

@inject AuthState AuthState
@inject AuthStateNotifier AuthStateNotifier

<PageTitle>@Title</PageTitle>

@if (!OperatingSystem.IsBrowser())
{
    <LoadingSpinner Name="@(Title + " WebAssembly")" />
    return;
}

<h3>@Title</h3>

@if (AuthState.User == null)
{
    ResetState();
    <Login />
    return;
}

<SelectServiceType OnClickCallback="HandleSelectServiceSubmit" />

@if (SelectedServiceType == null)
{
    return;
}

<p>@SelectedServiceType</p>

@code {
    private readonly string Title = "Totem Entrance";

    private string? SelectedServiceType { get; set; }

    protected override void OnInitialized()
    {
        AuthStateNotifier.Subscribe(StateHasChanged);
    }

    public void Dispose()
    {
        AuthStateNotifier.Unsubscribe(StateHasChanged);
    }

    private void HandleSelectServiceSubmit(string selectedServiceType)
    {
        if (selectedServiceType == null ||
            (selectedServiceType != "PARKING" && selectedServiceType != "CHARGING"))
            return;

        SelectedServiceType = selectedServiceType;
    }

    private void ResetState()
    {
        SelectedServiceType = null;
    }
}
