<input type="radio" class="btn-check" name="options-base" id="PARKING" autocomplete="off">
<label class="btn btn-outline-secondary mx-2" for="PARKING"
    @onclick="() => OnClickCallback.InvokeAsync(Sosta)"
>Sosta</label>

<input type="radio" class="btn-check" name="options-base" id="CHARGING" autocomplete="off">
<label class="btn btn-outline-secondary mx-2" for="CHARGING"
    @onclick="() => OnClickCallback.InvokeAsync(Ricarica)"
>Ricarica</label>

@code {
    private const string Ricarica = "CHARGING";
    private const string Sosta = "PARKING";

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }
}
