@using Frontend.States

@inject AuthState AuthState

@if (AuthState.User == null)
{
    <strong style="color: red;">Please log in to access this page.</strong>
    return;
}

<div class="d-flex flex-wrap">
    <AccountBox />
    <FinesBox />
</div>

@code {}
